@use "global" as *;

.area-search__inner {
  background: #59C1BD;
  padding: rem(36) 0 rem(31);
  text-align: center;
}

.area-search__title {
  position: relative;
  display: inline-block;
  color: $white;
  font-size: rem(28);
  font-weight: $bold;
  @include mq(md) {
    font-size: rem(23);
  }
}

.area-search__title::before {
  position: absolute;
  content: "";
  width: rem(3);
  height: rem(28);
  background: $white;
  bottom: rem(5);
  left: rem(-20);
  transform: rotate(-25deg);
}

.area-search__title::after {
  position: absolute;
  content: "";
  width: rem(3);
  height: rem(28);
  background: $white;
  bottom: rem(5);
  right: rem(-20);
  transform: rotate(25deg);
}

.area-search__wrap {
  display: flex;
  column-gap: rem(27);
  max-width: rem(1110);
  padding: 0 $padding-pc;
  margin: rem(24) auto 0;
  @include mq(md) {
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(20);
  }
}

.area-search__item {
  max-width: rem(152);
  width: 100%;
}

.area-search__img {
  position: relative;
  padding-top: 65.3594771%;
}

.area-search__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: rem(10);

}

.area-search__item span {
  display: inline-block;
  color: $white;
  text-align: center;
  font-size: rem(17);
  font-weight: $regular;
  margin-top: rem(11);
  @include mq(lg) {
    letter-spacing: -1px;
  }
}