@use "global" as *;

.main-view {
  margin-top: rem(92);
  @include mq(md) {
    margin-top: rem(60);
  }
}

.main-view__wrap {
  display: flex;
  @include mq(md) {
    flex-direction: column;
  }
}

.main-view__left {
  width: 53.671875%;
  padding: rem(102) 0 rem(55);
  background: url(../images/common/top-mv-mask.png) no-repeat;
  background-size: cover;
  background-position: center;
  @include mq(md) {
    width: 100%;
    padding: rem(38) 0;
  }
}

.main-view__leftinner {
  max-width: rem(631);
  width: 100%;
  margin: 0 rem(10) 0 auto;
  padding: 0 $padding-sp;
  @include mq(md){
    margin: auto;
    max-width: rem(742);
  }

}
.main-view__title {
  max-width: rem(481);
  width: 100%;
  margin: 0 rem(67) 0 auto;
  @include mq(md) {
    max-width: rem(291);
    margin: auto;
  }
}

.main-view__wrapper {
  @include mq(md) {
    margin-top: rem(415);
    display: flex;
    flex-direction: column-reverse;
  }
}

.main-view__link {
  max-width: rem(581);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: rem(10);
  margin: rem(62) auto 0;
  @include mq(md) {
    margin-top: rem(30);
    justify-content: center;
    gap: rem(6) rem(10);
  }
}

.main-view__btn {
  max-width: rem(181);
  width: 100%;
  min-height: rem(49);
  border-radius: rem(45);
  color: $white;
  filter: drop-shadow(0px 3px 6px rgba(0,0,0,0.16));
  @include mq(md) {
    width: calc((100% - #{rem(10)}) / 2);
    max-width: none;
  }
}

.main-view__btn a {
  line-height: 1px;
  font-size: rem(14);
  font-weight: $bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: inherit;
  padding: 0 rem(16);
  @include mq(md) {
    padding: 0 rem(2);
    justify-content: center;
    font-size: rem(13);
  }
}

.main-view__btn--station {
  background: #AD6554;
}

.main-view__btn--station a::after {
  content: "";
  background: url(../images/common/icon-train.svg) no-repeat;
  width: rem(19);
  height: rem(26);
  background-size: contain;
  @include mq(md) {
    width: rem(15);
    height: rem(22);
    margin-left: rem(5);
  }
}

.main-view__btn--address {
  background: #C7AA4F;
}

.main-view__btn--address a::after {
  content: "";
  background: url(../images/common/icon-pin.svg) no-repeat;
  width: rem(18);
  height: rem(26);
  background-size: contain;
  @include mq(md) {
    width: rem(14);
    height: rem(22);
    margin-left: rem(5);
  }
}

.main-view__btn--list {
  background: #863553;
}

.main-view__btn--list a::after {
  content: "";
  background: url(../images/common/icon-list.svg) no-repeat;
  width: rem(27);
  height: rem(22);
  background-size: contain;
  @include mq(md) {
    width: rem(23);
    height: rem(18);
    margin-left: rem(5);
  }
}

.main-view__right {
  position: relative;
  background: url(../images/common/top-mv-img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 46.328125%;
  @include mq(md) {
    position: absolute;
    height: rem(390);
    width: 100%;
    top: rem(184);
  }
}

.man-view__labelwrap {
  position: absolute;
  display: flex;
  max-width: rem(457);
  width: 100%;
  left: rem(76);
  bottom: rem(-28);
  @include mq(lg) {
    bottom: rem(60);
    left: 50%;
    transform: translateX(-50%);
  }
  @include mq(md) {
    bottom: rem(-40);
  }
}

.main-view__labeltext {
  position: absolute;
  color: $white;
  font-size: rem(8);
  font-weight: $regular;
  max-width: rem(300);
  width: 100%;
  margin-left: auto;
  margin-top: rem(-13);
  bottom: rem(-80);
  right: rem(58);
  @include mq(lg) {
    filter: drop-shadow(0px 3px 6px rgba(0,0,0,0.8));
    bottom: 0;
    right: rem(30);
  }
  @include mq(md) {
    display: none;
  }
}

.main-view__search {
  margin: rem(28) auto 0;
  max-width: rem(581);
  width: 100%;
}

.main-view__subtext {
  font-size: rem(7);
  font-weight: $regular;
  color: #656565;
  margin-top: rem(11);
}