@use "global" as *;

.service__inner {
  max-width: rem(882);
  width: 100%;
  margin: auto;
  padding: rem(86) $padding-pc rem(64);
  @include mq(md) {
    padding: rem(50) $padding-sp;
  }
}
.service__text {
  font-size: rem(18);
  font-weight: $regular;
  text-align: center;
  margin-top: rem(82);
  @include mq(md) {
    font-size: rem(14);
    margin-top: rem(48);
    text-align: left;
    line-height: 1.71428571;
  }
}

.service__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: rem(26) rem(32);
  margin-top: rem(35);
  @include mq(md) {
    gap: rem(15);
    justify-content: space-between;
    margin-top: rem(22);
  }
}

.service__item {
  background: #84CCC1;
  font-size: rem(17);
  font-weight: $normal;
  text-align: center;
  border-radius: rem(10);
  padding: rem(33) 0;
  width: calc((100% - #{rem(32)} * 3) / 4);
  max-width: rem(184);
  @include mq(md) {
    font-size: rem(14);
    width: calc((100% - #{rem(15)}) / 2);
    max-width: none;
    padding: rem(23) 0 rem(19);
  }
}

.service__item:first-of-type {
  padding: rem(46) 0;
  @include mq(md) {
    padding: rem(33) 0;
  }
}

.service__btn {
  margin-top: rem(56);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.service__smtext {
  text-align: right;
  font-size: rem(12);
  font-weight: $regular;
  margin-right: rem(28);
  padding-bottom: rem(26);
}