@use "global" as *;

.support__inner {
  padding: rem(35) $padding-pc rem(64);
  @include mq(md) {
    padding: rem(50) $padding-sp;
  }
}

.support__title::after {
  bottom: rem(-37);
}

.support__text {
  margin-top: rem(72);
  font-size: rem(16);
  font-weight: $regular;
  text-align: center;
  line-height: 2.5;
  letter-spacing: rem(0.8);
  @include mq(md) {
    margin-top: rem(40);
    font-size: rem(14);
    text-align: left;
  }
}

.support__btn {
  margin-top: rem(36);
  @include mq(md) {
    margin-top: rem(23);
  }
}

.support__btn .btn {
  background: #72B1A4;
}