/* リキッドレイアウト対応 */
@use "global" as *;

html {
  

  //375px~787px
  font-size: 16px;
//~375px
  @media (sm) {
    font-size: vw(375, 16);
    // font-size: (16 / 375) * 100vw;
  }
}

/* pcの電話番号発信対応 */
// a[href^="tel:"] {
//   @include mq("md") {
//     pointer-events: none;
//   }
// }

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.6;
  @include mq(md) {
    opacity: 1;
  }
}
