@use "global" as *;

.breadcrumbs__lists {
  padding: 0;
  list-style: none;
  @include mq(md) {
    display: flex;
    flex-wrap: wrap;
  }
}

.breadcrumbs_inner.inner {
  padding: rem(18) $padding-pc;
  max-width: rem(1098);
}

.breadcrumbs__list {
  display: inline;/*横に並ぶように*/
  list-style: none;
    }

    .breadcrumbs__list::after {
      content: '>';
      padding: 0 rem(5) 0 rem(12);
      color: $black;
    }

    .breadcrumbs__list:last-child:after {
      content: '';
    }

    .breadcrumbs__link {
      text-decoration: none;
      color: $black;
      font-size: rem(13);
      letter-spacing: 1px;
      width: fit-content;
      @include mq(md) {
        font-size: rem(14);
      }
    }

    .breadcrumbs__link:hover {
      @include mq(md){
        text-decoration: underline;
      }
    }