@use "global" as *;

.business-mv {
  position: relative;
  background: url(../images/common/business-mv.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: rem(90);
  @include mq(md) {
    margin-top: rem(60);
  }
}

.business-mv::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba($black, .32);
  top: 0;
  left: 0;
  display: block;
}
.business-mv__inner {
  max-width: rem(774);
  width: 100%;
  margin: auto;
  padding: rem(110) $padding-pc  rem(92);
  text-align: center;
  @include mq(md) {
    padding: rem(100) $padding-sp rem(80);
  }
}

.business-mv__title {
  position: relative;
  color: $white;
  font-size: rem(35);
  font-weight: $bold;
  @include mq(md) {
    font-size: rem(20);
  }
}

.business-mv__catch {
  position: relative;
  color: $white;
  font-size: rem(57);
  font-weight: 600;
  @include mq(md) {
    font-size: rem(30);
  }
}

.business-mv__catch span {
  font-size: rem(73);
  @include mq(md) {
    font-size: rem(40);
  }
}

.business-mv__text {
  position: relative;
  color: $white;
  font-size: rem(30);
  font-weight: $bold;
  @include mq(md) {
    font-size: rem(16);
  }
}

.business-mv__textbox {
  position: absolute;
  max-width: rem(291);
  width: 100%;
  left: rem(-45);
  top: rem(-90);
  @include mq(md) {
    max-width: rem(190);
    top: rem(-60);
  }
}