@use "global" as *;

.cv-btn {
  position: fixed;
  right: rem(20);
  top: 80vh;
  z-index: 9;
  @include mq(md) {
    background: #E7F8F6;
    width: 100%;
    bottom: 0;
    right: unset;
    top: unset;
  }
}

.cv-btn__wrap {
  max-width: rem(259);
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  @include mq(md) {
    max-width: none;
    padding: rem(10);
    flex-direction: row;
  }
}

.cv-btn__btn {
  border-radius: rem(10);
  width: rem(259);
  text-align: center;
  margin-top: rem(10);
  @include mq(md) {
    max-width: none;
    width: calc((100% - #{rem(10)}) / 2);
  }
}

.cv-btn__btn + .cv-btn__btn {
  @include mq(md) {
    margin-left: rem(10);
  }
}

.cv-btn__btn a {
  position: relative;
  font-size: rem(13);
  font-weight: $bold;
  color: $white;
  padding-left: rem(30);
  filter: drop-shadow(0px 3px 6px rgba(0,0,0,0.16));
  @include mq(md) {
    padding-left: rem(25);
    max-width: rem(130);
  }
}

.cv-btn__btn a span {
  font-size: rem(9);
  margin-top: rem(-4);
  display: block;
}

.cv-btn__btn--tel {
  background: #17A4AA;
  padding: rem(11) 0;
}

.cv-btn__btn--tel a::before {
  position: absolute;
  content: "";
  background: url(../images/common/icon-tel.svg) no-repeat;
  background-size: contain;
  width: rem(17);
  height: rem(32);
  top: 10%;
  left: 0;
  @include mq(md) {
    width: rem(12);
    height: rem(22);
    top: 50%;
    transform: translateY(-50%);
  }
}

.cv-btn__btn--line {
  background: #00B900;
  padding: rem(17) 0;
  @include mq(md) {
    padding: rem(15) 0;
  }
}

.cv-btn__btn--line a::before {
  position: absolute;
  content: "";
  background: url(../images/common/icon-comment.svg) no-repeat;
  background-size: contain;
  width: rem(24);
  height: rem(21);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  @include mq(md) {
    width: rem(22);
    height: rem(19);
  }
}

.cv-btn__btn--tel .u-desktop {
  font-size: rem(17);
}

.cv-btn__btn--tel .u-desktop span {
  font-size: rem(9);
  margin-top: rem(-4);
  display: block;
  padding-left: 0;
}

.cv-btn__sp {
  display: none;
  @include mq(md) {
    display: inline-block;
  }
}

.cv-btn.u-mobile {
  .cv-btn__btn a span {
    padding-left: rem(27);
  }
  .cv-btn__btn--tel a::before {
    top: 10%;
    transform: none;
  }
}