@use "global" as *;

.footer__wrapper {
  text-align: center;
  padding: rem(44) 0 rem(27);
  @include mq(md) {
    padding: rem(40) 0 rem(96);
  }
}

.footer__wrapper--btnnone {
  @include mq(md) {
    padding-bottom: rem(26);
  }
}

.footer__title {
  max-width: rem(171);
  width: 100%;
  margin: auto;
}

.footer__address {
  margin-top: rem(20);
}

.footer__text {
  font-size: rem(12);
  font-weight: $regular;
  line-height: 1.66666667;
}

.footer__nav {
  margin-top: rem(35);
  @include mq(md) {
    display: none;
  }
}

.footer__lists {
  display: flex;
  justify-content: center;
  @include mq(md) {
    flex-wrap: wrap;
    gap: rem(15);
    padding: 0 $padding-sp;
  }
}

.footer__list a {
  font-size: rem(15);
  font-weight: $regular;
  letter-spacing: 1px;
}

.footer__list + .footer__list {
  margin-left: rem(36);
  @include mq(md) {
    margin-left: 0;
  }
}

.footer__wrap {
  position: relative;
  max-width: rem(636);
  width: 100%;
  margin: rem(47) auto 0;
  text-align: center;
  @include mq(md) {
    margin-top: rem(40);
  }
}

.footer__sns {
  position: absolute;
  top: rem(-9);
  right: 0;
  @include mq(md) {
    display: none;
  }
}

.footer__sns a {
  display: inline-block;
  margin-left: rem(13);
}

.footer__copy {
  font-size: rem(12);
  font-weight: $regular;
}