@use "global" as *;

.page-header {
  background: #F7F7F7;
}

.page-header__inner {
  margin-top: rem(92);
  text-align: center;
  padding: rem(43) $padding-pc rem(35);
  @include mq(md) {
    margin-top: rem(60);
    padding: rem(36) $padding-sp;
  }
}

.page-header__title {
  font-size: rem(35);
  font-weight: $bold;
  text-align: center;
  @include mq(md){
    font-size: rem(25);
  }
}

.page-header span {
  display: inline-block;
  font-size: rem(20);
  font-weight: $bold;
  font-family: $second-font;
  color: $text-green;
  text-align: center;
  margin-top: rem(10);
  @include mq(md) {
    font-size: rem(18);
    margin-top: rem(15);
  }
}

.page-header--yellow {
  background: rgba(#D3B265, .15);
}

.page-header--yellow span {
  color: #EFA700;
}